<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piter.mapper.data1.User1Mapper">
    <!-- 开启当前命名空间的二级缓存，容易出现脏读，应避免开启 -->
    <cache/>
    <!-- 使用另外一个命名空间的二级缓存，共用二级缓存 -->
    <!--<cache-ref namespace=""/>-->
  <resultMap id="User" type="com.piter.entity.data1.User1">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_AGE" jdbcType="INTEGER" property="userAge" />
  </resultMap>

  <select id="findAll" resultType="com.piter.entity.data1.User1">
    select id,user_name,user_age from user
  </select>

  <insert id="insertUser1" parameterType="com.piter.entity.data1.User1">
    insert into user1 (user_name,user_age)
    values (#{userName},#{userAge})
  </insert>

</mapper>